In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/sagic/[5] Net_Worth/data/Net_Worth.csv')
df.head()

,date,outcome,salery,bank,foreign_currency,trading,study_fund_sagi,bank_saving,rsu_mobileye,espp_intel,...,fund_efrat1,fund_efrat2,fund_ehudi,study_fund_efrat,bank_efrat,inTransfer,real_estate,mortgage,loan,sum
0,01/11/2020,NaN,26596.53,172637.000,0.00,0.00,71528.0,25022.00,0.0,81439.85,...,36139.00,35528.00,70566.00,48839.00,58000,0.0,0,0.0,0.0,764959.380
1,01/12/2020,NaN,28006.46,208000.330,0.00,0.00,71528.0,26000.00,0.0,87784.68,...,36010.31,35461.81,70433.36,48839.00,58000,0.0,0,0.0,0.0,808469.950
2,01/01/2021,NaN,21592.28,161971.980,59100.00,0.00,78001.0,28023.20,0.0,11992.00,...,40611.00,37931.00,75348.00,59563.00,58000,70000.0,0,0.0,0.0,921896.460
3,01/02/2021,NaN,24668.20,150081.085,58769.44,2914.32,80210.0,29023.67,0.0,28346.94,...,41381.00,38311.00,76101.00,61664.63,58000,0.0,0,0.0,0.0,873077.285
4,01/03/2021,NaN,53060.81,114849.990,56230.64,3972.65,82982.0,30023.89,0.0,14231.57,...,73267.00,76713.00,76334.00,63341.00,58000,70000.0,0,0.0,0.0,999271.550

In [9]:
df.set_index('date', inplace=True)

In [12]:
df.index[0]

'01/11/2020'

In [15]:
type(df.loc['01/11/2020','salery'])

numpy.float64

In [5]:
type(df.loc[0,'salery'])

numpy.float64

In [8]:
desc = df.describe()
pd.DataFrame(desc['salery'])

             salery
count     33.000000
mean   25718.616667
std    11538.177277
min        0.000000
25%    23298.000000
50%    28006.460000
75%    31287.850000
max    53060.810000

In [32]:
def pow(x):
    return x*x

df.groupby(by='rsu_mobileye')['trading','salery'].agg({lambda x: np.std(x)
                                                       })

C:\Users\sagic\AppData\Local\Temp\ipykernel_17296\3873104913.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(by='rsu_mobileye')['trading','salery'].agg({lambda x: np.std(x)

                  trading        salery
                 <lambda>      <lambda>
rsu_mobileye
0.00          17409.64735  12040.533065
57759.16          0.00000      0.000000
59201.16       1075.91500     14.500000
63003.98          0.00000      0.000000
73863.87          0.00000      0.000000

In [18]:
pd.pivot_table(index='salery',columns='foreign_currency',values='sum',data=df)

foreign_currency,-17.08,0.00,0.49,24.78,24.87,25.42,45.89,173.98,214.54,246.77,...,34431.28,38788.77,54659.00,55063.60,55591.31,55672.72,55738.88,56230.64,58769.44,59100.00
salery,,,,,,,,,,,,,,,,,,,,,
0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,949582.78,958567.55,NaN,NaN,NaN,NaN,NaN,NaN
2837.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9166.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,972652.82,NaN,NaN,NaN,NaN,NaN
11817.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1062394.16,NaN,NaN,NaN,NaN
14873.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,954597.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21592.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,921896.46
22567.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,983364.07,NaN,NaN,NaN
23298.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1112173.46,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23299.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23997.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24431.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,801107.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24668.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,873077.285,NaN
25553.00,NaN,NaN,694018.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26596.53,NaN,764959.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26681.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1320880.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28006.46,NaN,808469.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28267.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29437.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29486.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29487.49,NaN,NaN,NaN,NaN,NaN,NaN,1023158.58,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30171.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1338590.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30397.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31108.16,1085765.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31287.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31425.00,NaN,NaN,NaN,1538063.87,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31454.00,NaN,NaN,NaN,NaN,1563899.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31474.12,NaN,NaN,NaN,NaN,NaN,1598891.33,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31667.00,NaN,1538583.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31758.00,NaN,1493252.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42289.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46559.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53060.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999271.55,NaN,NaN